 {
	margin-bottom : 10px;
}
#header {
	height : 60px;
	padding : 10px;
	justify-content : space-between;
	align-items : center;
	display : flex;
	color : white;
	background-color : black;
}
.body {
	margin-bottom : 10px;
	height : 60px;
	padding : 10px;
	justify-content : space-between;
	align-items : center;
	display : flex;
	color : white;
	background-color : black;
}
html {
	margin-bottom : 10px;
	height : 60px;
	padding : 10px;
	justify-content : space-between;
	align-items : center;
	display : flex;
	color : white;
	background-color : black;
}
