<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JSS | JavaScript 4 style</title>
</head>
<body>
    <header>
        <div class="first-half">
            <h1 class="big-title">JSS</h1>
            <p id="info">JavaScript 4 style</p>
        </div>
        <div class="second-half">
            <button>GitHub</button>
        </div>
    </header>
    <main>
        <div id="div1">

        </div>
        <div id="div2">
            
        </div>
    </main>
</body>
</html>
<script src="jss.js"></script>